/* RESET CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* ************* START ************* */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

:root,
:root.light {
  font-size: 16px;
  font-family: "Fredoka", sans-serif;
  --white: #fff;
  --red-purple: #f34954;
  --yellow: #ffc400;
  body {
    background: #fdecef;
    background: linear-gradient(
      130deg,
      rgba(253, 236, 239, 1) 0%,
      rgba(255, 210, 218, 1) 100%
    );
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(150px, 200px) 1fr minmax(150px, 200px);
  align-items: center;
  justify-content: center;
  display: none;
  padding: 0 5rem;
}

.player1-container,
.player2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.player-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--white);
  align-items: center;
  border: 1px solid var(--red-purple);
  padding: 0 1rem 1.5rem 1rem;
  border-radius: 4rem 4rem 3rem 3rem;
}

.player-card img {
  width: 100px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--white);
  margin-top: -30%;
}

.player-card .player-marker {
  width: 60%;
  background-color: var(--red-purple);
  color: var(--white);
  border-radius: 3rem;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 800;
}

.player-card h4 {
  font-size: 1.2rem;
}

.player1-container .player-scores-container,
.player2-container .player-scores-container {
  background-color: var(--yellow);
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.game-container .round-number {
  background-color: var(--yellow);
  border-radius: 50%;
  padding: 2rem;
  width: fit-content;
  aspect-ratio: 1 / 1;
  text-align: center;
  line-height: 1;
}

.game-container .round-number h4 {
  font-size: 2rem;
}

.game-container .round-number p {
  font-size: 1rem;
}

.game-container .next-round {
  background-color: var(--yellow);
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
}

/* Board Design */
.game-board {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 200px));
  padding: 1rem;
  border: 2px dashed var(--red-purple);
  border-radius: 2rem;
  background-color: var(--white);
  max-width: fit-content;
  position: relative;
}

.game-board .board-cell {
  aspect-ratio: 1 / 1;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.game-board .board-cell:nth-child(1) {
  border-top-left-radius: inherit;
}

.game-board .board-cell:nth-child(3) {
  border-top-right-radius: inherit;
}
.game-board .board-cell:nth-child(7) {
  border-bottom-left-radius: inherit;
}
.game-board .board-cell:nth-child(9) {
  border-bottom-right-radius: inherit;
}

.game-board .board-cell:nth-child(1),
.game-board .board-cell:nth-child(2),
.game-board .board-cell:nth-child(4),
.game-board .board-cell:nth-child(5),
.game-board .board-cell:nth-child(7),
.game-board .board-cell:nth-child(8) {
  border-right: 1px dotted var(--red-purple);
}

.game-board .board-cell:nth-child(1),
.game-board .board-cell:nth-child(2),
.game-board .board-cell:nth-child(3),
.game-board .board-cell:nth-child(4),
.game-board .board-cell:nth-child(5),
.game-board .board-cell:nth-child(6) {
  border-bottom: 1px dotted var(--red-purple);
}

.x-marker {
  color: var(--red-purple);
  font-weight: bold;
}

.o-marker {
  color: var(--yellow);
  font-weight: bold;
}

/* Selected Marker in form */
.selected-mark {
  color: var(--yellow);
  position: relative;
}

.selected-mark::after {
  content: "✓";
  font-size: 2rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(15, 110, 15);
}

/* Getting Player Name & Marker Page */
.playername-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  gap: 1rem;
  background-color: var(--red-purple);
}

.playername-container .get-player-name {
  border: none;
  background-color: inherit;
  padding: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
  color: var(--white);
  transition: all 0.1s ease-out;
  border-left: 1px dashed var(--white);
  border-right: 1px dashed var(--white);
}

.playername-container .get-player-name::placeholder {
  color: #ffa8ad;
  text-align: center;
}

.playername-container .get-player-name:focus {
  outline: none;
}

.playername-container .get-player-name:focus::placeholder {
  opacity: 0;
}

.playername-container .get-player-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.get-player-mark div {
  border-radius: 50%;
  font-size: 10rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
}

.get-player-mark div:hover {
  color: var(--yellow);
}

.get-player-mark input {
  position: absolute;
  width: 100px;
  aspect-ratio: 1 / 1;
  opacity: 0;
}

.get-player-mark p {
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
}

.playername-container .submit-player-btn {
  background-color: var(--red-purple);
  border: none;
  padding: 1rem 2rem;
  color: var(--white);
  border-radius: 1rem;
  transition: all 0.2s ease-in;
  box-shadow: 1px 1px 10px rgb(212, 75, 84) inset;
  font-size: 1.3rem;
}

.playername-container .submit-player-btn:hover {
  box-shadow: none;
  background-color: var(--white);
  color: var(--red-purple);
}

form {
  width: 100%;
}

@media (max-width: 450px) {
  .playername-container {
    padding: 0 1rem;
  }
  .container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr 1fr;
    height: 100%;
    padding: 0;
    margin-top: 1rem;
    align-items: start;
  }
  .player-card {
    width: 150px;
    align-self: center;
    margin-top: -2rem;
  }
  .player1-container {
    grid-row: 2;
  }
  .player2-container {
    grid-row: 2;
  }
  .round-number,
  .next-round {
    justify-self: center;
  }
  .game-container .next-round {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }
  .game-container {
    grid-column: 1 / -1;
    gap: 1rem;
  }
  .player1-container .player-scores-container,
  .player2-container .player-scores-container {
    width: 85%;
    padding: 0.5rem;
    align-self: center;
  }
  .game-container .round-number {
    padding: 1rem;
    font-size: 1rem;
  }
  .game-container .round-number h4 {
    font-size: 1.5rem;
  }

  .game-container .round-number p {
    font-size: 0.8rem;
  }
  .game-board {
    width: 90%;
    justify-self: center;
  }
  .game-board .board-cell {
    font-size: 4rem;
  }
}
/* Line For Winner Marks */
#strike-line {
  position: absolute;
  background-color: black;
}

.strike-row1 {
  width: 90%;
  height: 5px;
  top: 19%;
  left: 5%;
}
.strike-row2 {
  width: 90%;
  height: 5px;
  top: 49%;
  left: 5%;
}
.strike-row3 {
  width: 90%;
  height: 5px;
  bottom: 19%;
  left: 5%;
}
.strike-col1 {
  width: 5px;
  height: 90%;
  top: 5%;
  left: 19%;
}
.strike-col2 {
  width: 5px;
  height: 90%;
  top: 5%;
  left: 49%;
}
.strike-col3 {
  width: 5px;
  height: 90%;
  top: 5%;
  right: 19%;
}
.strike-diag1 {
  width: 5px;
  height: 115%;
  left: 50%;
  top: -7%;
  transform: rotate(-45deg);
}
.strike-diag2 {
  width: 5px;
  height: 115%;
  right: 50%;
  top: -7%;
  transform: rotate(45deg);
}
